<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Autor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicación desarrollada por {{autor.name}}
    </ion-card-content>
    <ion-item button detail [routerLink]="['/curriculum']">
      <ion-icon name="book" slot="start" size="small"></ion-icon>
      <ion-label><small>Currículum vitae</small></ion-label>
    </ion-item>
    <ion-item href="mailto:email@email.com" detail>
      <ion-icon name="mail" slot="start" size="small"></ion-icon>
      <ion-label><small>Correo: {{autor.email}}</small></ion-label>
    </ion-item>
    <ion-item href="https://twitter.com/moviles_ua" detail>
      <ion-icon name="logo-twitter" slot="start" size="small"></ion-icon>
      <ion-label><small>Twitter: {{autor.twitter}}</small></ion-label>
    </ion-item>
    <ion-item href="tel:999888777" detail>
      <ion-icon name="call" slot="start" size="small"></ion-icon>
      <ion-label><small>Teléfono: {{autor.phone}}</small></ion-label>
    </ion-item>
    </ion-card>
</ion-content>
